/* add css begin */
			
.add-header-bar {
	background: #df3031;
}

.add-title {
	color: #ffffff;
}

.info-color-f60{
	color: #f60;
}

.info-height-35{
	height: 35px;
	line-height: 35px;
}
/* end css begin */